/VGA/db
/VGA/output_files
/VGA/incremental_db
*.bak
/VGA/greybox_tmp
*.qws
*.qpf
VGA/top_description.txt
/.metadata
/Hub/.settings
Hub/.osx.project
Hub/.project
/Hub/Debug
VGA/.DS_Store
Tom/.DS_Store
Tom/.DS_Store
